<footer id="footer" class="component component-footer">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      {{!-- THE JS PORT AUTHORITY OF NY & NJ --}}
    </div>

  </div>

</footer>
