<footer id="footer" class="component component-footer">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Made with &lt;3 in NYC for NYC.</div>

  </div>

</footer>
