<nav id="navigation" class="container component-navigation" role="navigation">
  <div class="row">

    <div class="navigation-brand col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
      <a class="navigation-logo" href="/">EmpireJS 2015</a>
    </div>

    <a class="navigation-toggle hide-sm hide-md hide-lg hide-xl"><i class="icon-menu"></i></a>

    <div class="navigation-menu col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10">

      <ul class="navigation-links">
        <li><a id="nav-link-tickets" href="https://tito.io/empirejs/empirejs-2015" target="_blank">Tickets</a></li>
        <li><a href="#venue">Venue</a></li>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#speakers">Speakers</a></li>
        <li><a href="#hotel">Hotel</a></li>
        <li><a href="#sponsors">Sponsors</a></li>
        <li><a href="#scholarship">Scholarship</a></li>
        <li><a href="#love">♥</a></li>
        <li><a href="https://twitter.com/empirejs" target="_blank"><i class="icon-twitter"></i></a></li>
      </ul>

    </div>
  </div>
</nav>
