<li class="speaker">
  <img class="speaker-img" src="/img/organizers/{{img}}" />
  <label class="speaker-label">
    <span class="speaker-name">{{name}}</span> <a href="https://twitter.com/{{twitterHandle}}" target="_blank"><i class="icon-twitter"></i></a>
  </label>
</li>
