<li class="speaker">
  <img class="speaker-img" src="/img/speakers/{{img}}" />
  <label class="speaker-label">
    <span class="speaker-name">{{name}}</span>
    <span class="speaker-title">{{title}}</span>
    <a href="https://twitter.com/{{twitterHandle}}" target="_blank"><i class="icon-social-twitter"></i></a>
  </label>
</li>
