<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EmpireJS 2015</title>
  <meta name="description" content="Empire on Broadway. April 25th &amp; 26th in New York City. Tickets on sale now!">

  <link rel="stylesheet" type="text/css" href='https://css.tito.io/v1' />
  <link rel="stylesheet" type="text/css" href="/css/app.css" media="screen">

  <link rel="icon" type="image/png" href="/img/favicon.png">

  <script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  var gaTrackerOptions;

  if(window.location.hostname == 'localhost') {
    gaTrackerOptions = {
      'cookieDomain': 'none'
    }
  }

  else {
    gaTrackerOptions = 'auto'
  }

  ga('create', 'UA-60806622-1', gaTrackerOptions);
  ga('send', 'pageview');
  </script>

  <script src='https://js.tito.io/v1' async></script>
</head>
<body>

  {{!> icons}}

  {{> navigation}}

  {{{ body }}}

  {{!> footer}}

  <script src="/js/jquery.min.js"></script>
  <script src="/js/flexstrap.js"></script>
  <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script src="/js/app.js"></script>

</body>
</html>
