@keyframes counter-rotate-half {

  from {
    transform rotate(180deg)
  }

  to {
    transform rotate(0deg)
  }

}

.animate-counter-rotate-half
  animation counter-rotate-half 0.25s 1 linear

@keyframes rotate-half {

  from {
    transform rotate(0deg)
  }

  to {
    transform rotate(180deg)
  }

}

.animate-rotate-half
  animation rotate-half 0.25s 1 linear
