<section id="section-speakers" class="container section">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="icon-container event-icon-container">
        <i class="icon-info"></i>
      </div>

      <h2>EmpireJS 2015 Scholorship</h2>
      <div class="divider-inner"></div>

      <p>EmpireJS exists to educate and grow the Javascript community in New York City. We are excited to announce that we will be granting scholarships for our upcoming conference. We are constantly seeking new ways to make our community broader and more inclusive. This scholarship is open to anyone who is in or able to travel to New York City on April 25th and April 26th.</p>

      <p>We hope this scholarship program can enable you to join us and contribute to our community!</p>

      <h1>Sponsor a scholarship</h1>

      <p>We’d love to be able to provide as many scholarships as possible and we need your help!  If you’re a company interested in sponsoring a scholarship get in touch with us! You can shoot us an email at <a href="mailto:sponsor@empirejs.org">sponsor@empirejs.org</a> for more information.</p>

      <h1>Sponsor details</h1>

      <p>Each scholarship covers an EmpireJS 2015 ticket.

      <p>*This is a community run event; we hope in the future we are able to provide travel/lodging.</p>

      <h1>How to apply</h1>

      <p>To apply for a scholarship, fill out <a href="https://docs.google.com/forms/d/1kvTK_5h54ikTuC6pq9p7FwoHEDZo9V84QbxyLg5ecOU/viewform?usp=send_form" target="_blank">THIS FORM</a> and tell us about yourself! The application deadline is April 1st. We will select grantees and contact them by April 5th. If you have any questions, you can also contact us at <a href="mailto:us@empirejs.org">us@empirejs.org</a>.</p>

    </div>

  </div>

</section>
