/* 1. Base Rules
------------------------------------------------------------------ */

body {
  background: #FFF;
}

body, h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  color: rgb(24, 24, 24);
}

p { padding: 0 }


input {
  margin: 2px 0 10px;
}

label {
  color: rgb(174,174,174);
}

section {
  margin: 20px 0;
}

.bold {
  font-style: italic;
  font-weight: bold;
}

.dark-highlight   { color: #056839; }
.light-highlight  { color: #78ba51; }
.subtle-highlight { color: #999;    }

.twitter {
  opacity: 0.8;
  position: absolute;
  top: 530px;
  right: 1px;
}

a.button {
  padding: 8px 20px;
  background-color: rgb(65,65,65);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid rgba(40, 40, 40, 0.5);
}

a:hover.button {
  background-color: rgb(80,80,80);
}

/* 2. Layout
------------------------------------------------------------------ */

/* !2.1 General Structure */

#container {
  padding-top: 25px;
}

#twitter-bird {
  margin-top: 8px;
}

.empire-state {
  display: block;
  position: relative;
  height: 900px;
}

.empire-state-background {
  display: block;
  position: relative;
}

#hero {
  background: #000;
  padding: 100px 0 80px;
  margin: 0 15px;
  text-align: center;
}

#welcome, #action, #why {
  margin-bottom: 10px;
}

#welcome h1, #welcome h2 {
  text-align: center;
}

#welcome h2 {
  color: #056839;
}

#welcome h1 > span {
  margin: 0 20px;
}

#main {
  color: #333;
  position: relative;
  font-size: 18px;
  max-width: 991px;
  margin: 30px auto 0 auto;
  width: 90%;
}

#main h1, #main h2, #main h3 {
  color: #333;
  clear: both;
  font-family: 'Chivo', helvetica, serif;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

#main h1 {
  color: #333;
  font-size: 40px;
  line-height: 48px;
}

#main h2 {
  font-size: 24px;
  line-height: 24px;
}

#main h3 {
  font-size: 18px;
  line-height: 18px;
}

#sponsors,
#organizers,
#location,
#accomodation,
#preparty,
#speakers,
#instructors,
#videos,
#dinner,
#love {
  margin-top: 25px;
  border-top: 2px solid #999;
  padding-top: 20px;
}

#love {
  border-top: 2px solid #333;
  color: #666;
  margin: 40px 0 20px 0;
  font-size: 12px;
  padding: 10px 0 0 10px;
}

#speakers .subheader,
#instructors .subheader,
#sponsors .subheader,
#videos .subheader,
#dinner .subheader,
#location .subheader,
#accomodation .subheader,
#preparty .subheader,
#organizers .subheader,
#speakers p,
#instructors p {
  display: block;
  height: 40px;
  margin: 0 0 20px 0;
  padding: 0 0 0 10px;
  width: 100%;
}

#emcee img {
  margin-left: 20px;
  margin-top: 0px;
}

#emcee p {
  margin-bottom: 0px;
  height: 24px;
}
#speakers .subheader h2,
#instructors .subheader h2,
#sponsors .subheader h2,
#videos .subheader h2,
#dinner .subheader,
#location .subheader h2,
#accomodation .subheader h2,
#preparty .subheader h2,
#organizers .subheader h2 {
  color: #fff;
  text-align: left;
}

#accomodation a {
  color: #b4d183;
}

#sponsors .subheader h2,
#sponsor-list h2 a {
  color: #b4d183;
}

#sponsor-list {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

#sponsor-list .sponsor-section {
  display: table;
  margin: 0 auto;
  width: 100%;
}

#sponsor-list .sponsor-section a {
  display: inline-block;
  padding: 0 40px 40px 0;
  vertical-align: middle;
}

#sponsor-list .sponsor-section.platinum a {
  display: block;
}

#sponsor-list .sponsor-section.platinum a img {
  margin: 0 auto;
}

#sponsor-list h2 {
  margin-top: 25px;
}

#sponsor-list h2 a {
  text-decoration: underline;
}

.yotel-logo, .ucb-logo {
  margin-bottom: 30px;
}

#location .location05,
#location .map,
#location .yotel,
#location .lightbox {
  float: left;
  width: 30%;
  margin: 0 1.5%;
}

#location .location05 h3,
#location .cruise h3,
#location .lightbox h3 {
  color: rgb(175,175,175);
  font-weight: bold;
  text-decoration: underline;
}

#location .location05 h4,
#location .cruise h4,
#location .lightbox h4 {
  color: rgb(175,175,175);
  font-style: italic;
  margin-bottom: 10px;
}

#location {
  margin-bottom: 35px;
}

#location .map {
  border: #999 2px solid;
  height: 205px;
  padding: 3px;
  width: 600px;
}

#date-tickets {
  padding-top: 6px;
}

.action {
  color: #FFF;
  height: 100px;
  margin: 0 35px 10px 0;
  text-align: center;
}

#date-tickets h2 {
  color: #333;
}

#cfp {
  padding: 20px 0 0 0;
  width: 500px;
}

#cfp h1 a {
  line-height: 0;
  padding-bottom: 8px;
  cursor: pointer;
}

#cfp h1 a:hover {
  text-decoration: underline;
}

/* 2.1 Borders */

#cfp,
#proposals {
  border-top: 2px solid #CCC;
}

#synopsis {
  float: left;
  padding: 20px 0 0 0;
  text-transform: none;
  width: 60%;
}

#synopsis h1 a {
  line-height: 0;
  padding-bottom: 8px;
  cursor: pointer;
  text-transform: none;
}

#synopsis h1 a:hover {
  text-decoration: underline;
  text-transform: none;
}

#synopsis h2 {
  font-weight: 300;
  font-style: italic;
  padding-bottom: 12px;
  cursor: pointer;
  text-transform: none;
}

#synopsis h3 {
  font-weight: 100;
  font-size: 30;
  padding-top: 5px;
  padding-bottom: 12px;
  line-height: 120%;
  text-transform: none;
}

#synopsis h3:last-child {
  color: #AAA;
}

#synopsis h3 a {
  color: #777;
  font-weight: 100;
  font-size: 30;
  padding-top: 5px;
  padding-bottom: 12px;
  line-height: 120%;
  text-transform: none;
}

#synopsis h3 a:hover {
  text-decoration: underline;
  color: #BABABA;
  font-weight: 100;
  font-size: 30;
  padding-top: 5px;
  padding-bottom: 12px;
  line-height: 120%;
  text-transform: none;
}

#marquee {
  margin: 65px 0 0 0;
  float:right;
  width:30%
}

/* 2.2 CFP / Proposals */

a.cfp-link {
  border-bottom: 2px solid #CCC;
  color: rgba(0, 156, 255, 1);
  display: block;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

#proposals #submit {
  margin: 0 0 0 20px;
}

#proposals #submit div {
  background: url(/img/textured-box-cutout.png) center bottom no-repeat;
  display: inline-block;
  font-family: 'Chivo', helvetica, serif;
  font-weight: 700;
  font-size: 36px;
  height: 100px;
  margin: 0 25px 0 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  width: 450px;
}

#proposals #submit div a {
  display: block;
  margin: 17px 0 0 0;
}

#proposals section h1,
#proposals section h2 {
  border-bottom: 2px solid #CCC;
  margin: 0 0 10px 0;
}

#proposals section ul {
  margin: 0 0 30px 30px;
  list-style: circle;
}

#proposals h1 a {
  text-decoration: underline;
}

#proposals .light-highlight {
  color: #78ba51;
}

#proposals .dark-highlight {
  color: #056839;
}

#proposals p {
  margin: 0 0 20px 0;
}

/* 3. Modules
------------------------------------------------------------------ */

/* !3.1 Nav */

#page-nav {
  background-color: #F4EA1A;
  border-left: 15px solid #FFF;
  border-right: 15px solid #FFF;
  box-sizing: border-box;
  color: #333;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
	z-index: 1000;
}

#page-nav:after {
  background-color: #fff;
  content: '';
  height: 15px;
  left: 0;
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 1001;
}

#page-nav ul {
	text-align: center;
}

#page-nav li {
  box-sizing: border-box;
  height: 50px;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
  font-family: 'Chivo', helvetica, serif;
  text-transform: uppercase;
}

#page-nav li a {
	box-sizing: border-box;
  display: block;
	padding: 5px 17px;
	line-height: 40px;
	height: 50px;
	font-size: 22px;
	text-decoration: none;
	letter-spacing: -1px;
	font-weight: 600;
}

#page-nav li a img {
  margin-top: -4px;
}

#page-nav li a.active {
	background-color: #EFEFEF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

#page-nav li a:focus {
	outline: none;
}

.tito-widget {
  display: block;
  float: left;
  margin: 20px 0;
  width: 100%;
}

.tito-widget:after {
  content: '';
  height: 1px;
  clear: both;
  width: 100%;
}

/* !3.2 Speakers / Organizers */

.speakers,
.instructors {
  clear: both;
  max-width: 900px;
  margin: auto;
  text-align: justify;
  color: #AEAEAE;
}

#speakers {
  margin-top: 293px;
}

#speakers .speakers,
#instructors .instructors,
#organizers .organizers {
  text-align: center;
}

#speakers .subheader h1,
#organizers .subheader h1,
#speakers .subheader h2,
#instructors .subheader h2,
#organizers .subheader h2 {
  padding-bottom: 20px;
}

.speakers div,
.instructors div,
.organizers div {
  display: inline-block;
  text-align: center;
  margin-left: 40px;
  color: #999;
}

section.more-speakers  {
  color: #EFEFEF;
  font-size: 36px;
  font-weight: 400;
  margin-top: 50px;
  text-transform: uppercase;
}

section.more-speakers span {
  color: #78ba51;
  font-weight: bold;
  text-decoration: underline;
}

.organizers div {
  font-size: 14px;
  opacity: 0.8;
}

.speakers img,
.instructors img,
.organizers img {
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 6px black;
  moz-box-shadow: 1px 1px 6px black;
  webkit-box-shadow: 1px 1px 6px black;
  margin-bottom: 5px;
  margin-top: 50px;
}

.organizers img {
  width: 120px;
  height: 120px;
}

.speakers:after,
.instructors:after,
.organizers:after {
  content: '';
  width: 100%;
  display: inline-block;
}


.dinner {
  margin: 0 auto;
  position: relative;
  padding: 00;
  min-height: 450px;
  margin-bottom: 40px;
}
.dinner table {
  margin: 0 auto;
  width: 100%;
}
.dinner table thead tr {
  color: #333;
  font-size: 22px;
  border-bottom: 1px solid #CDCDCD;
  border-top: 1px solid #CDCDCD;
}
.dinner table tr {
  height: 75px;
}
.dinner table tr td {
  padding: 10px 0 10px 20px;
  border-bottom: 1px solid #CDCDCD;
}
.dinner table tr.break td a {
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
}
.dinner.locale {
  min-width: 175px;
}

/* !3.3 Schedule */

.schedule {
  margin: 0 auto;
  position: relative;
  padding: 00;
  min-height: 450px;
  margin-bottom: 40px;
}
.schedule table {
  margin: 0 auto;
  width: 100%;
}
.schedule table thead tr {
  color: #333;
  font-size: 22px;
  border-bottom: 1px solid #CDCDCD;
}
.schedule table tr {
  height: 75px;
}
.schedule table tr td {
  padding: 10px 0 10px 20px;
  border-bottom: 1px solid #CDCDCD;
}
.schedule table tr td iframe {
  display: block;
}
.schedule table tr.break td a {
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
}
.schedule table tr.breakfast td:first-child,
.schedule table tr.lunch td:first-child,
.schedule table tr.coffee td:first-child,
.schedule table tr.party td:first-child  {
  font-size: 18px;
  font-style: normal;
}
.schedule table tr.breakfast td,
.schedule table tr.lunch td,
.schedule table tr.coffee td,
.schedule table tr.party td {
  font-size: 14px;
  font-style: italic;
}
.schedule table td tbd::after {
  content: 'TBD';
  color: #CCC;
  font-weight: lighter;
}
.schedule table tr.breakfast {
  background-color: #3D3D40;
  border-top: 1px solid #CDCDCD;
  color: #f8d15f;
}
.schedule table td registration::after {
  font-style: normal;
  content: 'Registration & Breakfast';
  font-size: 18px;
}
.schedule table td breakfast::after {
  font-style: normal;
  content: 'Breakfast';
  font-size: 18px;
}
.schedule table tr.lunch {
  background-color: #3D3D40;
  color: #b2cf7e;
}
.schedule table td lunch::after {
  font-style: normal;
  content: 'Lunch';
  font-size: 18px;
}
.schedule table tr.coffee {
  background-color: #3D3D40;
  color: #E7721F;
}
.schedule table td coffee::after {
  font-style: normal;
  content: 'Coffee Break';
  font-size: 18px;
}
.schedule table tr.end {
  background-color: #3D3D40;
  color: #f8d15f;
}
.schedule table td end::after {
  font-style: normal;
  content: 'End of Talks & Workshops';
  font-size: 18px;
}
.schedule table tr.dinner {
  background-color: #3D3D40;
  color: #f8d15f;
}
.schedule table td dinner::after {
  font-style: normal;
  content: 'Group Dinners!';
  font-size: 18px;
}
.schedule table td speaker::before {
  content: '\A';
  white-space: pre;
}
.schedule table td img {
  float: left;
  width: 35px;
  margin: 6px 20px 0px 0px;
}
.schedule table td speaker > a {
  color: #78ba51;
  text-decoration: underline;
}
.schedule table tr.party {
  background-color: #3D3D40;
  border-bottom: 1px solid #CDCDCD;
  color: #2496b2;
}/*
.schedule table td cruise::after {
  font-style: normal;
  content: 'Statue of Liberty Cruise';
  font-size: 18px;
}*/
.schedule table td party::after {
  font-style: normal;
  content: 'Closing Party at LightBox';
  font-size: 18px;
}

.schedule table th {
  color: #FFF;
  font-weight: bold;
  text-align: left;
  padding: 10px 0 10px 20px;
}
.schedule table tr:last-child {
  color: rgb(255, 255, 255);
  font-size: 16px;
}
.schedule table tr:last-child h4 {
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.schedule table tr:last-child p {
  color: rgb(255, 255, 255);
  font-size: 16px;
}
.schedule table tr:last-child td {
  border-bottom: 0px solid #FFF;
  font-size: 22px;
  vertical-align: middle;
  padding: 5px 0 0 20px;
}
.schedule table tr:last-child a img {
  clear: both;
  display: inline-block;
  float: none;
  margin: 0px 6px 0px 6px;
  vertical-align: middle;
  width: 125px;
}
.schedule tr.highlight {
  background-color: rgb(46, 46,	48);
  background-image: -moz-linear-gradient(#2a2a2a, #1c1c1c);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2a2a2a), to(#1c1c1c));
  background-image: -webkit-linear-gradient(#2a2a2a, #1c1c1c);
  background-image: -o-linear-gradient(#2a2a2a, #1c1c1c);
}
.schedule td.date {
  font-family: 'Chivo', helvetica, serif;
  font-size: 20px;
}

.location {
  height: 215px;
  text-align: left;
}
.location iframe { }
