#section-sponsors
  text-align: center
  margin-bottom 100px

#sponsor-list
  margin: 0 auto
  max-width: 1400px
  width: 100%

  .sponsor-section
    display: table
    margin: 0 auto 30px
    width: 100%

    a
      display: inline-block
      padding: 0 20px 20px 0
      vertical-align: middle

  .sponsor-section.platinum
    a
      display: block
      padding: 40px 0 0 0

      img
        margin: 0 auto

  .sponsor-section.gold
    max-width: 1200px

  .sponsor-section.startup
    max-width: 800px

    img
      width 130px
