@media mq-md-min

  .section-event-map
    overflow hidden

    .map-location-container
      flex-basis 20%
      margin-bottom 0
      margin-top 60px
      padding 10px
      position relative

    .map-container
      flex-basis 40%

    .venue-photo
      background center no-repeat url('/img/nmai-alt.jpg')
      height 550px
      flex-basis 40%
