

  .section-event-map
    background-color almostblack
    padding 0

    .venue-photo-container
      flex-basis 100%
      width 100%
      height 600px

      .venue-photo
        background center no-repeat url('/img/nmai-alt.jpg')
        flex-basis: 100%
        height 600px
