#header-home
  background-color #000
  color #fff
  position relative
  text-align center

  h1
    text-shadow 0 0 30px rgba(0, 0, 0, 0.8)

  h2
    font-size 26px
    font-weight 300
    line-height 1.4

  p
    color #ccc

#marquee
  width 100%
