@media mq-md-min

  #header-home
    height 100%

    #header-home-logo
      margin-bottom 100px
      margin-top 200px

      img
        width 30%
        max-height 400px

  .tito-widget

    .row

      .tito-ticket-upcoming-explanation-wrapper
        margin-top 20px

  #section-subtle-highlight
    margin-top 40px
