@media mq-lg

  .section-event-schedule

    .event-schedule-body

      .event-schedule-title
        display block
        margin 20px auto 0
        padding-left 0
        text-align center
        width 60%

      .event-schedule-list
        display block
        margin 0 auto
        width 60%

        .event-schedule-item
          padding-left 160px
          padding-right 0

          &:after
            left 136px

          .event-schedule-dot
            left 130px
