@media mq-md

  .section-event-schedule

    .event-schedule-body

      .event-schedule-list

        .event-schedule-item
          padding-left 160px
          padding-right 160px

          &:after
            left 136px

          .event-schedule-dot
            left 130px

          .event-schedule-item-time
            display block
            margin-bottom -19px
            margin-left -180px
            width 140px
            text-align right

          .event-schedule-item-time + .event-schedule-item-title
            margin-top 2px

          .event-schedule-item-time + .event-schedule-speaker
            margin-top 0

          .event-schedule-item-time + .event-schedule-item-subtitle
            margin-top 3px
