@import '_definitions'

// http://css-tricks.com/boxes-fill-height-dont-squish/
html, body
  height 100%

body
  font-family 'Open Sans', sans-serif
  font-size 14px
  line-height 1.428

@import 'headers'
@import 'paragraphs'
