#section-speakers
  background-color #eee

#speaker-list
  margin 0 auto
  max-width 1000px

  .speaker
    display inline-block
    margin-bottom 20px
    margin-right 20px
    vertical-align top
    width 172px

    .speaker-img
      width 172px

    .speaker-label
      display block
      text-align center

      .speaker-title
        color #aaa
        display block
        min-height 40px

      .icon-twitter
        color #009dd5
        display inline-block
