#speaker-list

  .speaker
    display inline-block
    margin-bottom 20px
    margin-right 20px
    width 172px

    .speaker-label
      display block
      text-align center

      .speaker-title
        color #aaa
        display block
