#section-speakers
  background-color #eee
  text-align center

#speaker-list
  display inline-block
  margin 0 auto
  max-width 800px

  .speaker
    display inline-block
    margin-bottom 20px
    margin-right 15px
    vertical-align top
    width 140px

    .speaker-img
      height 140px
      width 140px

    .speaker-label
      display block
      text-align center

      .speaker-title
        color #aaa
        display block
        min-height 40px

      .icon-twitter
        color #009dd5
        display inline-block

  .speaker:nth-child(5n + 5)
    margin-right 0
